<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              menu
            </button>
            <a class="navbar-brand" href="/"><img class="navbar-brand-image" src="/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="container">
              <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="/composers">Composers</a></li> -->
                <li><a href="http://blog.choralmusicghana.com/" target="_blank">Blog</a></li>
                <li><a href="/about">About CMG</a></li>
              </ul>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
