{% include head.html %}

  {% include nav.html %}
  {% include cover.html %}

	<div class="col-md-6 center">
		<h1>
  			{{page.title}}
	  		<span>			
	  			<button class="btn btn-default">
	  				{{page.category | upcase}}
	  			</button>
	  		</span>
  		</h1>
  		<hr>
    	{{content}}
    	{% if page.fbshare %}
    		{% include fb_share.html %}
    	{% endif %}
  </div>
  <div class="col-md-7 center">
    	{% if page.fbcomments %}
    		<div class="">
    			{% include fb_comments.html %}
    		</div>
    	{% endif %}
      {% if page.disquscomments %}
        <div class="">
          {% include disqus_comments.html %}
        </div>
      {% endif %}
    {% include more.html %}
  </div>

{% include foot.html %}